/* @import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

* {
  font-family: 'nanumsquare';
  font-size: medium;
  font-weight: bold;
} */
input:focus {
  outline: none;
}

.imgae-upload {
  display: none;
}

.image-upload-wrapper {
  font-size: 70px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
/* .swal-font {
  font-weight: bold;
  font-size: 15px;
  font-family: 'NanumSquareR';
} */
.swal-borderRadius {
  border-radius: 15px;
}
.swal-padding{
  padding-right: 0px;
  overflow: auto;
}

body{ -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; }


